{% extends 'base.html.twig' %}

{% block body %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li role="presentation">
                    <a href="{{ path('backend_default_index') }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Menu Admin </a>
                </li>
                <li role="presentation">
                    <a href="{{ path('home') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Menu Front </a>
                </li>
                <li role="presentation">
                    <a href="{{ path('contact_index') }}"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}