{% extends 'FrontendBundle:Layout:frontend.html.twig' %}

{% block body %}

<style>

.jumbotron h1{
    color: #024d90;
}
.jumbotron h2{
    color: #2e75b5;
}

.jumbotron p{
    font-size: 17px;
    color: #2e75b5;
}

.jumbotron{
	margin: 30px 30px;
}

</style>

<div class="jumbotron">
	<h1> Contact </h1>

	<h2> Merci de votre envoie, votre message à bien été pris en compte, nous allons vous répondre dans les plus bref délai!
	</h2>

</div>

{% endblock %}