{% extends 'FrontendBundle:Layout:frontend.html.twig' %}

{% block body %}

<style>

.jumbotron h1{
	color: #024d90;
}

.jumbotron p{
	font-size: 17px;
	color:#2e75b5;
}

.jumbotron{
	margin: 30px 30px;
}

</style>

<div class="jumbotron">

	<h1> Qui sommes-nous ? </h1>

	<p class="lead">Bienvenue sur le site RC Electric Car, le spécialiste de l'automodelisme electrique.</p>

	<p>Nous sommes distributeur des plus grandes marques de voitures radio commandées : Losi, Xray, TLR, Hobbywing, etc...</p>

	<p>RC Electric Car est une société basée a Amiens spécialiste dans la vente via internet depuis 2017. Notre philosophie est de vous proposer les meilleurs produits, des prix compétitifs, une gestion de stock rigoureuse et une expédition rapide de vos commandes.</p>

	<p>La gestion de notre stock est en temps réel, vous pouvez commander uniquement les produits en stocks. Toutes les commandes passées avant 15h (lundi au vendredi) sont expediées le jour même.<p>

</div>
{% endblock %}