{% extends 'FrontendBundle:Layout:frontend.html.twig' %}

{% block body %}

<style>

.jumbotron h1{
	color: #024d90;
}
.jumbotron h2{
	color: #2e75b5;
}

.jumbotron p{
	font-size: 17px;
	color: #2e75b5;
}

.jumbotron{
	margin: 30px 30px;
}

</style>


<div class="jumbotron">

<h1> Contact </h1>

<h2><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>Téléphone : 06 34 53 36 15 </h2>

</div>

{% endblock %}