{% extends 'base_frontend.html.twig' %}

{% block header %}

<style>

	.container{
		width: 100%;
	}
	#title{
		color: #2e75b5;
		font-weight: bold;
		text-align: left;
	}
	#header {
		height: 90px;
	}

	#header h1{
		margin: 0px;
	}
	#header_left{		
		/*background: green;*/
		display: flex;
		align-items: flex-start;
		height: inherit;
	}
	#header_left img{

	}
	#header_left a{
		text-decoration: none;		
	}
	#header_right{
		display: flex;
		flex-direction: column;		
		align-items: flex-end;
		/*background: red;*/
		height: inherit;		
	}
	#header_low{
		background: #2e75b5;
		display: flex;
	}
	#header_low a{
		color: white;
		font-weight: bold;
	}
	#header_low a:hover{
		background: #2e3a47;		
	}
	#user_menu{
		/*background: yellow;*/
		display: flex;
		justify-content: space-around;		
		position: relative;
		width: 320px;
		float: right;
		margin: 0px;		
	}
	.dropdown-menu{
		top: 65%;
	}
	.container{
		padding:0;
	}
	#search{
		width: 100%;
	}


</style>

	<div id="header" class="row">
	
		<div id="header_left" class="col-lg-5">
			<a href="/RC_Boutique/web/app_dev.php/">
				<h1 id="title"> RC Electric Car <img src= "{{asset ('pictures/logo.png')}}" style="width: 150px"/></h1>				
			</a>
		</div>

		<div id="header_right" class="col-lg-7">

			<div id="user_menu" class="container">
				<ul class="nav navbar-nav">
					<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Souhait </button>
				
					<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Panier </button>

					<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mon Compte </button>
				</ul>	
						
			</div>
		</div>		
	</div>

	<div id="header_low" class="row co-lg-12">
		<nav class="horizontal_menu">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
	                <li role="presentation">
	                    <a href=""> Kits </a>
	                </li>
	                <li role="presentation">
	                    <a href=""> Electroniques </a>
	                </li>
	                	<li role="presentation">
	                    <a href=""> Pièces </a>
	                </li>
	               	<li role="presentation">
	                    <a href=""> Consommables </a>
	                </li>
	                <li>
						<form class="navbar-form navbar-left" role="search">
		                	<div id="search" class="form-group">
	    						<input type="text" class="form-control" placeholder="Recherche par mot clés ou numéro de produit">
	    						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	  						</div>
	  					</form>
  					</li>                
        		</ul>
			</div>
		</nav>		
	</div>

	


{% endblock %}

{% block body %}

<div>
    <div class="jumbotron">
        <h1> Page du FrontendBundle </h1>
    </div>
</div>

{% endblock %}



{% block footer %}
	{% include 'FrontendBundle:Layout:footer.html.twig' %}
{% endblock %}