{% extends 'FrontendBundle:Layout:frontend.html.twig' %}

{% block body %}

<style>

.jumbotron h1{
	color: #024d90;
}
.jumbotron h2{
	color: #2e75b5;
}

.jumbotron p{
	font-size: 17px;
	color: #2e75b5;
}

.jumbotron{
	margin: 30px 30px;
}

</style>


<div class="jumbotron">

<h1> Livraison </h1>


<h2> Expedition et Retours </h2>

<p><b><i>LIVRAISON EN FRANCE METROPOLITAINE</i></b></p>

<p>Les produits sont livrés à l'adresse de livraison que vous aurez indiquée lors de votre commande. La livraison comporte le ou les produits commandés, emballés et une facture détaillée. Les délais moyens de livraison sont de 1 à 3 jours ouvrables. Les délais indiqués sont des délais moyens et correspondent aux délais de traitement et d'acheminement pour les produits à destination de la France métropolitaine. Ils ne constituent pas des délais de rigueur. RC Team ne pourra voir sa responsabilité engagée en cas de retard de livraison ou de rupture de stock. </p>

<p>Livraison Standard : Via La poste - Délais 24/72h Livraison du lundi au Samedi </p>

<p>Livraison Express : Via TNT - Délais 24h Livraison avant 14h du Lundi au Samedi (sous réserve que la ville de destination soit couverte par la livraison le samedi)</p>

<p>Livraison Express : Via Chronopost - Délais 24h Livraison avant 14h du Lundi au Samedi</p>

<p>Carburant : Livrable uniquement en France (Hors Corse) via TNT, livraison possible le samedi matin.</p> 

<p>LIVRAISON HORS FRANCE METROPOLITAINE Delais variable en fonction des destinations </p>

<p>Livraison uniquement via Colissimo</p>

<p>Europe CEE : 2/3 jours Europe </p>
<p>Hors CEE : 3/10 jours </p>
<p>DOM TOM : 3/7 jours </p>

<p><b><i>LIVRAISON GRATUITE</i></b></p>

<p>Livraison gratuite à partir de 100€ d'achat pour une livraison en France métropolitaine uniquement via Colissimo Relais Pick Up, et hors carburant. </p>

<p><b><i>RETOUR ET REMBOURSEMENT</i></b></p>

<p>Si un article ne vous convient pas, il vous suffit de nous le retourner dans un délai de 30 jours après réception de votre colis, à l'adresse suivante : RC Team, ZA du Pinay 2, 42700 Firminy. Bien entendu, l'article doit être neuf et ne pas avoir été utilisé. Il vous est simplement demandé de le retourner dans son emballage d'origine, accompagné d'une copie de la facture, et de mentionner le motif du retour. S'il s'agit d'une erreur de notre part, les frais de retour vous seront remboursés sur simple demande. Le remboursement se fait par defaut sous forme d'avoir ou sur demande recrédit de la carte bancaire, il ne sera pas possible de faire d'echange. Si l'emballage du produit est abimé il pourra etre fait une moins value sur le remboursement ou l'avoir.</p>

<p><b><i>RÉSERVE DE PROPRIÉTÉ</i></b></p>

<p>Les produits demeurent la propriété de RC Team jusqu'au paiement intégral du prix. Cette réserve de propriété ne fait pas obstacle au transfert des risques qui sera réalisé dès livraison des dits produits.</p>

<p><b><i>ATTENTION</i></b></p>

<p>Les marchandises voyagent aux risques et périls du destinataire qui n'a de recours qu'auprès du transporteur en cas d'avarie. Faire toute réserves précisés à la réception du colis. Si vous acceptez le colis sans faire de réserve, aucune réclamation sera possible.</p>

</div>

{% endblock %}